{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To do list</title>
    <link rel="stylesheet" href="{% static 'css.css' %}">
</head>
<body>
    <div class="detail-container">
        <h1>Tarefa {{ tarefa.nome_tarefa }}</h1>
        <div>
            <h3>Descrição:</h3>
            <p>{{ tarefa.descricao }}</p>
            
            <h3>Data:</h3>
            <p>{{ tarefa.data_criacao }}</p>
            
            <h3>Status:</h3>
            <p>{% if tarefa.concluida %}✅ Concluída{% else %}⏳ Pendente{% endif %}</p>
        </div>
        <a href="{% url 'todo:listar' %}" class="voltar">← Voltar para a lista</a>
    </div>
</body>
</html>