<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To do List</title>
</head>
<body>
    
    {% if request.user.is_authenticated %}
    <p>{{ request.user }}</p>
    <a href="">Logout</a>
    {% else %}
    <a href="">Login</a>
    {% endif %}

    <h1>Lista de Tarefas</h1>
    <td><a href="{% url 'todo:criar' %}">Criar Tarefa</a></td>
        <table>
            <tr>
                <th>Tarefa</th>
                <th>Status</th>
            </tr>
            {% for tarefa in tarefas %}
                <tr>
                    <td>{{ tarefa.nome_tarefa }}</td><td>
                    <td><input type="checkbox">{{ tarefa.concluida }}</td></td>
                    <td><a href="{% url 'todo:editar' tarefa.id %}">Editar</a></td>
                    <td><a href="{% url 'todo:detalhar' tarefa.id %}">Detalhes</a></td>
                    <td><a href="{% url 'todo:deletar' tarefa.id %}">Deletar</a></td>
                </tr>
            {% endfor %}
</body>
</html>